/*-- scss defaults --*/

#quarto-content>* {
    padding-top: 0px;
}


main {
    margin-top: 0em;
    margin-bottom: 1em;
}



#quarto-content {
    padding: 0;
    grid-column: screen-start/screen-end;
    grid-row: contents-top/contents-bottom;
}




body.fullcontent:not(.floating):not(.docked) .page-columns {
    display: grid;
    gap: 0;
    grid-template-columns: [screen-start] 0em [screen-start-inset] 0fr [page-start page-start-inset] 0px [body-start-outset] 0px [body-start] 0em [body-content-start] minmax(500px, 1999px) [body-content-end] 0em [body-end] 0px [body-end-outset] 0px [page-end-inset page-end] 0fr [screen-end-inset] 0em;
}

div.quarto-about-marquee .about-contents {
    display: flex;
    flex-direction: column;
    margin-inline: 30px;
}
